@keyframes spin {
    from {
      transform: translateZ(-100px) rotateX(0deg) rotateY(0deg);
    }
    to {
      transform: translateZ(-100px) rotateX(720deg) rotateY(360deg);
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.canvas{
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer_space{
    position: relative;
    height: 300px;
    width: 300px;
    perspective: 500px;
}

.btn_bar_top{
    position: absolute;
    height: 50px;
    width: 300px;
    top: 0;
}
.btn_bar_left{
    position: absolute;
    height: 200px;
    width: 50px;
    top: 50px;
    left: 0;
}
.btn_bar_right{
    position: absolute;
    height: 200px;
    width: 50px;
    top: 50px;
    right: 0;
}
.btn_bar_bottom{
    position: absolute;
    height: 50px;
    width: 300px;
    bottom: 0;
}
.conBars{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.controllers{
    width: fit-content;
    transition: 1s;
}
.space{
    height: 200px;
    width: 200px;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: 1s;
    top: 50px;
    left: 50px;
}
.space div{
    height: 200px;
    width: 200px;
    position: absolute;
    text-align: center;
    line-height: 200px;
    border: 1px solid white;
    color: white;
    font-size: 40px;
}
.box_front{
    background-color: rgba(0, 174, 249, 0.719);
    transform: rotateX(0deg) translateZ(100px);

}
.box_right{
    background-color: rgba(222, 25, 25, 0.719);
    transform: rotateY(90deg) translateZ(100px);
}
.box_back{
    background-color: rgba(82, 221, 47, 0.719);
    transform: rotateY(180deg) translateZ(100px);
}
.box_left{
    background-color: rgba(241, 126, 18, 0.719);
    transform: rotateY(-90deg) translateZ(100px);
}
.box_top{
    background-color: rgba(226, 25, 92, 0.719);
    transform: rotateX(90deg) translateZ(100px);
}
.box_bottom{
    background-color: rgba(47, 56, 221, 0.719);
    transform: rotateX(-90deg) translateZ(100px);
}

.bottom_nav{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}